sempre que houver atualização da senha da maquina seguir o passo. 
1. abra um terminal
2. copie e cole sem as aspas " git clone https://gitlab-ce.santanderbr.corp/infra_cfo/cfotools.git "
3. Coloquei usuario (Enter) Coloque a sua senha (Enter) 
4. Copie e cole no terminal sem as aspas 'rm -rf cfotools/'

In [1]:
%%capture
%pip install git+https://gitlab-ce.santanderbr.corp/infra_cfo/cfotools.git

In [2]:
from cfotools.tool import *

get_cred('oracle', 'pass')

## df = read_oracle("select * from GC_CLIENTES.TB_CASCADA_GLOBAL_TM1 where segmento = 'Total Área de Negocio (AN)'")

In [3]:
pandas_df_oracle = read_oracle('gc_clientes.tb_analitico_cenario_pnl_v2')
# pandas_df_oracle = pd.read_oracle('gc_clientes.tb_analitico_cenario_pnl_p28_V2')
print('Processamento em Oracle: Ok')

pandas_df_oracle.to_csv('/home/container/t720443/01_Varejo_Atual/TB_ANALITICO_CENARIO_PNL.csv', index=False)
print('Extração salva na Pasta Varejo_Atual: Ok')

Processamento em Oracle: Ok
Extração salva na Pasta Varejo_Atual: Ok

In [4]:
from IPython.display import display, Javascript

def alerta_sonoro_no_jupyter(mensagem='Extração de base TB_ANALITICO_CENARIO_PNL Concluída!'):
    js_code = f"""
    var audioCtx = new (window.AudioContext || window.webkitAudioContext)();
    var duration = 0.2; // segundos
    var frequency = 440; // Hertz
    var oscillator = audioCtx.createOscillator();
    oscillator.type = 'square';
    oscillator.frequency.setValueAtTime(frequency, audioCtx.currentTime); // valor em hertz
    oscillator.connect(audioCtx.destination);
    oscillator.start();
    oscillator.stop(audioCtx.currentTime + duration);
    alert('{mensagem}');
    """
    display(Javascript(js_code))

# Chame esta função para exibir um pop-up de alerta com som
alerta_sonoro_no_jupyter()

In [5]:
pandas_df_oracle['cenario'].unique()

array(['Prévia', 'Negócios'], dtype=object)

In [6]:
pandas_df_oracle['segmento'].unique()

array(['Governos', 'Agro Select', 'Empresas MEI', 'Universidades',
       'Empresas III', 'Empresas Digital', 'Empresas II',
       'Especial Total', 'Varejo Total', 'GIU', 'PJ', 'Especial',
       'Prospera', 'Empresas', 'Select Total', 'Select High', 'Select',
       'Varejo', 'Empresas I', 'Empresas I Massivo', 'PF', None,
       'Cartões', 'Varejo Ampliado', 'E4', 'LARGE', 'SEG002', 'NRA',
       'Verticais', 'Consumer Finance', 'Consumer Finance Auto',
       'Bco Hyundai', 'Financeira', 'Consumer Finance Bens e Servicos',
       'SIM.', 'Financeira B&S', 'Toro Canal Externo', 'Gira',
       'Securitizadora', 'FGB', 'Solution4Fleet', 'Real Estate.',
       'Return Total', 'Liderança', 'Atual', 'Sec. Proprietária',
       'Em Dia.', 'Non Core', 'Select Ex - Agro', 'PF Ex - Agro'],
      dtype=object)

In [7]:
pandas_df_oracle['mes'].unique()

array(['202604', '202510', '202612', '202611', '202608', '202609',
       '202605', '202607', '202512', '202511', '202602', '202606',
       '202601', '202603', '202610', '202505', '202509', '202407',
       '202406', '202411', '202403', '202412', '202404', '202504',
       '202408', '202402', '202502', '202405', '202401', '202506',
       '202507', '202508', '202503', '202501', '202410', '202409'],
      dtype=object)

In [8]:

segmentos_filter = ['Varejo' ]
## 'Varejo' , 'Governos', 'Empresas', 'Empresas I', 'Empresas II',
## 'Empresas III', 'Empresas Digital', 'Empresas I Massivo', 'GIU',
## 'PF', 'Especial Total',  'Universidades', 'Especial', 'PJ', 'Select Total',
## 'Agro Select', 'Select', 'Select High', 'Empresas MEI', 'Prospera',
## 'Varejo Total', 'Select Ex - Agro']
linhas_filter_2 = ['1157']


filtro1 = pandas_df_oracle.loc[(pandas_df_oracle['linha'].isin(linhas_filter_2)) &
                                 (pandas_df_oracle['mes'].isin(['202508']))&
                                
#                                 (pandas_df_oracle['cenario'].isin(['Prévia']))]
                                 (pandas_df_oracle['historico_bp_mis'] == 'Resultado') &
                               #  (pandas_df_oracle['subtipo'] == 'Resultado Total')]
                                (pandas_df_oracle['segmento'].isin(segmentos_filter)) ]
                               
filtro1.head(50).sort_values(by = ['linha', 'historico_bp_mis'])   

## 6.115.44 -- Prévia
## 2.613.99 -- Negócios
## 3.221.54 -- Negócios

,cenario,segmento,linha,mes,valor,historico_bp_mis,subtipo,carga_atual,dt_carga
1097985,Negócios,Varejo,1157,202508,4785277.58,Resultado,Resultado Total,0,2025-10-28 10:36:48
1097986,Negócios,Varejo,1157,202508,4146804.40,Resultado,Contábil,0,2025-10-28 10:36:48
1097987,Negócios,Varejo,1157,202508,638473.18,Resultado,Fictício,0,2025-10-28 10:36:48

In [9]:
cont_linhas = pandas_df_oracle.shape[0]
print(f'Quantidade de linhas na base extraída: {cont_linhas}')

Quantidade de linhas na base extraída: 2047221

In [10]:
df_ordem_segto = { 'segmento': ['Varejo','PF','Especial Total','Especial','Prospera','PF1 + PF2','Select Total','Agro Select','Select','Select High','PJ','Empresas','Empresas I','Empresas II','Empresas III',
     'Empresas Digital','Empresas I Massivo','Empresas MEI','GIU','Gira','Governos','Real Estate.','Toro Canal Externo','Universidades'],
         'Ordem': ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','21','22','19','23','24','20']}

dic = pd.DataFrame(df_ordem_segto)